Description=#! Website Server
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker pull hashbang/hashbang.sh
ExecStartPre=-/usr/bin/docker kill hashbang.sh
ExecStartPre=-/usr/bin/docker rm hashbang.sh
ExecStart=/usr/bin/docker run \
  -p 443:4443 \
  -p 80:8080 \
  -v /home/core/hashbang.sh/certs:/opt/app/certs \
  --name="hashbang.sh" \
  hashbang/hashbang.sh

[Install]
WantedBy=multi-user.target
