Description=#! Website Server
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker pull hashbang/hashbang.sh
ExecStartPre=-/usr/bin/docker kill hashbang.sh
ExecStartPre=-/usr/bin/docker rm hashbang.sh
ExecStart=/usr/bin/docker run \
  -p 443:443 \
  -p 80:80 \
  --env-file="/home/core/hashbang/hashbang.sh/env" \
  -v /home/core/hashbang.sh/certs:/opt/app/certs \
  --name="hashbangsh" \
  hashbang/hashbang.sh
ExecStop=/usr/bin/docker stop hashbangsh

[Install]
WantedBy=multi-user.target
